<a href="https://colab.research.google.com/github/prveena/datascience/blob/master/co1_qs_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("Enter first no "))
b=int(input("Enter second no "))
c=a+b
print("Sum of no is ",c)

Enter first no 10
Enter second no 20
Sum of no is  30

In [ ]:
a=int(input("Enter the no "))
s=0
while(a>0):
  r=a%10
  s=s*10+r
  a=a//10
print("The reverse is ",s)

Enter the no 123
The reverse is  321

In [ ]:
num=int(input("Enter the no "))
if(num>0):
  print("Positive no")
else:
  print("Negative no")

Enter the no 12
Positive no

In [ ]:
n=int(input("Enter the no "))
count=0
while(n!=0):
  count=count+1
  n=n//10
print("The no of digits are ",count)

Enter the no 345
The no of digits are  3

In [ ]:
num=int(input("Enter the no "))
temp=num
r=0
while(num>0):
 dig=num%10
 r=r*10+dig
 num=num//10
if(temp==r):
 print("Palindrome")
else:
 print("Not palindrome")

Enter the no 45412
Not palindrome

In [ ]:
r=int(input("Enter the radius of circle "))
p=2*3.14*r*r
a=3.14*r*r
print("Perimeter = ",p)
print("Area = ",a)

Enter the radius of circle 2
Perimeter =  25.12
Area =  12.56

In [ ]:
a=int(input("Enter first no "))
b=int(input("Enter second no "))
c=int(input("Enter third no "))
if(a >= b) and (a >=c):
  print("The largest no is ",a)
elif(b >= a) and (b >=c):
  print("The largest no is ",b)
else:
  print("the largest no is ",c)

Enter first no 5
Enter second no 2
Enter third no 9
the largest no is  9

In [ ]:
list=[2,3,4,1,8,6]
print("List is ",list)
print("First no is ",list[0],"\n Last no is ",list[-1])

List is  [2, 3, 4, 1, 8, 6]
First no is  2
 Last no is  6

In [ ]:
n=input("Enter the nos seperated by comma ")
list=n.split(",")
tuple=tuple(list)
print("list",list)
print("tuple",tuple)

In [ ]:
dict={1:"Apple",2:"Banana",3:"Cat",4:"Dog",5:"Egg"}
print("Dictionary ",dict)

Dictionary  {1: 'Apple', 2: 'Banana', 3: 'Cat', 4: 'Dog', 5: 'Egg'}

In [ ]:
dict1={1:"Apple", 2:"Banana"}
dict2={3:"Cat", 4:"Dog"}
dict1.update(dict2)
print(dict1)

{1: 'Apple', 2: 'Banana', 3: 'Cat', 4: 'Dog'}